.container{
  max-width: 1320px;
}

section{
  overflow: hidden;
}

.section-bg{
  background: whitesmoke;
}

.section-header h3{
font-size: 36px;
color: brown;
text-align: center;
font-weight: 700;
position: relative;
font-family: "Poppins", sans-serif;
}

.section-header p{
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: black;
  width: 50%;
}

#services{
  padding: 60px 0 40px 0;
}

#services .box{
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: white;
  box-shadow: 0 10px 29px rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}